---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import PageBanner from '../components/PageBanner.astro';
import AboutAbout from '../components/AboutAbout.astro';
import Team from '../components/Team.astro';
import Testimonial from '../components/Testimonial.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout title="About Us - DevsDoc">
  <Navbar />
  <PageBanner />

  <!-- About Section -->
  <AboutAbout />

  <!-- Counter Start -->
  <div class="section techwix-counter-section-03 techwix-counter-section-04">
    <div class="container">
      <div class="counter-wrap" style="background-image: url(/assets/images/bg/counter-bg2.jpg);">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <!-- Single Counter Start -->
            <div class="single-counter-02 text-center">
              <span>354+</span>
              <p>Completed Projects</p>
            </div>
            <!-- Single Counter End -->
          </div>
          <div class="col-lg-3 col-sm-6">
            <!-- Single Counter Start -->
            <div class="single-counter-02 text-center">
              <span>119+</span>
              <p>Robotic Automation</p>
            </div>
            <!-- Single Counter End -->
          </div>
          <div class="col-lg-3 col-sm-6">
            <!-- Single Counter Start -->
            <div class="single-counter-02 text-center">
              <span>99%</span>
              <p>Web Site Analyse</p>
            </div>
            <!-- Single Counter End -->
          </div>
          <div class="col-lg-3 col-sm-6">
            <!-- Single Counter Start -->
            <div class="single-counter-02 text-center">
              <span>321+</span>
              <p>Clients Supoort Done</p>
            </div>
            <!-- Single Counter End -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Counter End -->

  <!-- Choose Us Start -->
  <div class="section techwix-choose-us-section section-padding" style="background-image: url(/assets/images/bg/choose-us-bg3.jpg);">
    <div class="container">
      <!-- Choose Us Wrap Start -->
      <div class="choose-us-wrap">
        <div class="section-title text-center">
          <h3 class="sub-title">REASON TO CHOOSE US</h3>
          <h2 class="title">We provide truly prominent IT solutions.</h2>
        </div>
        <div class="choose-us-content-wrap">
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
              <!-- Choose Us Item Start -->
              <div class="choose-us-item-02">
                <div class="choose-us-img">
                  <img src="/assets/images/ser-icon9.png" alt="">
                </div>
                <div class="choose-us-content">
                  <h3 class="title"><a href="/service">Infrastructure <br> Technology</a></h3>
                  <p>Accelerate innovation with world-class tech teams We'll match you to an entire.</p>
                </div>
              </div>
              <!-- Choose Us Item End -->
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <!-- Choose Us Item Start -->
              <div class="choose-us-item-02">
                <div class="choose-us-img">
                  <img src="/assets/images/counter-3.png" alt="">
                </div>
                <div class="choose-us-content">
                  <h3 class="title"><a href="/service">Highly professional team members</a></h3>
                  <p>Accelerate innovation with world-class tech teams We'll match you to an entire.</p>
                </div>
              </div>
              <!-- Choose Us Item End -->
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <!-- Choose Us Item Start -->
              <div class="choose-us-item-02">
                <div class="choose-us-img">
                  <img src="/assets/images/ser-icon10.png" alt="">
                </div>
                <div class="choose-us-content">
                  <h3 class="title"><a href="/service">Security <br> Management</a></h3>
                  <p>Accelerate innovation with world-class tech teams We'll match you to an entire.</p>
                </div>
              </div>
              <!-- Choose Us Item End -->
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <!-- Choose Us Item Start -->
              <div class="choose-us-item-02">
                <div class="choose-us-img">
                  <img src="/assets/images/ser-icon12.png" alt="">
                </div>
                <div class="choose-us-content">
                  <h3 class="title"><a href="/service">Desktop <br> Computing</a></h3>
                  <p>Accelerate innovation with world-class tech teams We'll match you to an entire.</p>
                </div>
              </div>
              <!-- Choose Us Item End -->
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <!-- Choose Us Item Start -->
              <div class="choose-us-item-02">
                <div class="choose-us-img">
                  <img src="/assets/images/counter-1.png" alt="">
                </div>
                <div class="choose-us-content">
                  <h3 class="title"><a href="/service">Infrastructure <br> Technology</a></h3>
                  <p>Accelerate innovation with world-class tech teams We'll match you to an entire.</p>
                </div>
              </div>
              <!-- Choose Us Item End -->
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <!-- Choose Us Item Start -->
              <div class="choose-us-item-02">
                <div class="choose-us-img">
                  <img src="/assets/images/counter-2.png" alt="">
                </div>
                <div class="choose-us-content">
                  <h3 class="title"><a href="/service">Ideas for high return investment</a></h3>
                  <p>Accelerate innovation with world-class tech teams We'll match you to an entire.</p>
                </div>
              </div>
              <!-- Choose Us Item End -->
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <!-- Choose Us Item Start -->
              <div class="choose-us-item-02">
                <div class="choose-us-img">
                  <img src="/assets/images/ser-icon11.png" alt="">
                </div>
                <div class="choose-us-content">
                  <h3 class="title"><a href="/service">Fully high IT <br> Management</a></h3>
                  <p>Accelerate innovation with world-class tech teams We'll match you to an entire.</p>
                </div>
              </div>
              <!-- Choose Us Item End -->
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <!-- Choose Us Item Start -->
              <div class="choose-us-item-02">
                <div class="choose-us-img">
                  <img src="/assets/images/ser-icon13.png" alt="">
                </div>
                <div class="choose-us-content">
                  <h3 class="title"><a href="/service">Data secure & Management</a></h3>
                  <p>Accelerate innovation with world-class tech teams We'll match you to an entire.</p>
                </div>
              </div>
              <!-- Choose Us Item End -->
            </div>
          </div>
        </div>
      </div>
      <!-- Choose Us Wrap End -->
    </div>
  </div>
  <!-- Choose Us End -->

  <!-- Skill Start -->
  <div class="section techwix-skill-section-02 techwix-skill-section-03 section-padding">
    <div class="container">
      <div class="skill-wrap">
        <div class="row">
          <div class="col-lg-6">
            <!-- Skill Left Start -->
            <div class="skill-left">
              <div class="section-title">
                <h2 class="title">Preparing for your success, we provide truly prominent IT solutions</h2>
              </div>
              <div class="about-list">
                <ul>
                  <li>
                    <span class="about-icon"><i class="fas fa-check"></i></span>
                    <span class="about-text">We always focus on technical excellence </span>
                  </li>
                  <li>
                    <span class="about-icon"><i class="fas fa-check"></i></span>
                    <span class="about-text"> Wherever you're going, we bring ideas and excitement </span>
                  </li>
                  <li>
                    <span class="about-icon"><i class="fas fa-check"></i></span>
                    <span class="about-text">We're consultants, guides, and partners for brands </span>
                  </li>
                </ul>
              </div>
              <!-- About Author Info Wrap Start -->
              <div class="about-author-info-wrap">
                <div class="about-author">
                  <img src="/assets/images/sign.png" alt="">
                  <h3 class="name">Alen Morno sin</h3>
                  <span class="designation">CEO, Techmax</span>
                </div>
                <div class="about-info">
                  <p>Call to ask any question </p>
                  <h3 class="number">0123-456-7890</h3>
                </div>
              </div>
              <!-- About Author Info Wrap End -->
            </div>
            <!-- Skill Left End -->
          </div>
          <div class="col-lg-6">
            <!-- Skill Right Start -->
            <div class="skill-right">
              <p class="text">Accelerate innovation with world-class tech teams We'll match you to an entire remote team of incredible freelance talent for all your software development needs. building cloud, infrastructure, network, etc. We put a strong focus on the needs of your business to figure out solutions that best fits your demand and nail it</p>
              <div class="counter-bar">
                <!-- Skill Item Start -->
                <div class="skill-item">
                  <span class="title">IT Managment</span>
                  <div class="skill-bar">
                    <div class="bar-inner">
                      <div class="bar progress-line color-1" data-width="80">
                        <span class="skill-percent"><span class="counter">80</span>%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Skill Item End -->
                <!-- Skill Item Start -->
                <div class="skill-item">
                  <span class="title">Data Security</span>
                  <div class="skill-bar">
                    <div class="bar-inner">
                      <div class="bar progress-line color-1" data-width="95">
                        <span class="skill-percent"><span class="counter">95</span>%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Skill Item End -->
                <!-- Skill Item Start -->
                <div class="skill-item">
                  <span class="title">Information Technology</span>
                  <div class="skill-bar">
                    <div class="bar-inner">
                      <div class="bar progress-line color-1" data-width="80">
                        <span class="skill-percent"><span class="counter">80</span>%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Skill Item End -->
              </div>
            </div>
            <!-- Skill Right End -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Skill End -->

  <!-- Team Section -->
  <Team />

  <!-- Testimonial Section -->
  <Testimonial />

  <!-- Brand Logo Start -->
  <div class="section techwix-brand-section techwix-brand-section-03">
    <div class="container">
      <!-- Brand Wrapper Start -->
      <div class="brand-wrapper text-center">
        <!-- Brand Active Start -->
        <div class="brand-active">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <!-- Single Brand Start -->
              <div class="swiper-slide single-brand">
                <img src="/assets/images/brand/brand-1.png" alt="Brand">
              </div>
              <!-- Single Brand End -->
              <!-- Single Brand Start -->
              <div class="swiper-slide single-brand">
                <img src="/assets/images/brand/brand-2.png" alt="Brand">
              </div>
              <!-- Single Brand End -->
              <!-- Single Brand Start -->
              <div class="swiper-slide single-brand">
                <img src="/assets/images/brand/brand-3.png" alt="Brand">
              </div>
              <!-- Single Brand End -->
              <!-- Single Brand Start -->
              <div class="swiper-slide single-brand">
                <img src="/assets/images/brand/brand-4.png" alt="Brand">
              </div>
              <!-- Single Brand End -->
              <!-- Single Brand Start -->
              <div class="swiper-slide single-brand">
                <img src="/assets/images/brand/brand-5.png" alt="Brand">
              </div>
              <!-- Single Brand End -->
              <!-- Single Brand Start -->
              <div class="swiper-slide single-brand">
                <img src="/assets/images/brand/brand-2.png" alt="Brand">
              </div>
              <!-- Single Brand End -->
            </div>
          </div>
        </div>
        <!-- Brand Active End -->
      </div>
      <!-- Brand Wrapper End -->
    </div>
  </div>
  <!-- Brand Logo End -->

  <!-- CTA Section -->
  <CTA />

  <Footer />
</BaseLayout>