---
---

<!-- Contact Info Start -->
<div class="section contact-info-section section-padding-02">
  <div class="container">
    <!-- Contact Info Wrap Start -->
    <div class="contact-info-wrap">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <!--Single Contact Info Start -->
          <div class="single-contact-info text-center">
            <div class="info-icon">
              <img src="/assets/images/counter-1.png" alt="">
            </div>
            <div class="info-content">
              <h5 class="title">Schedule a Call</h5>
              <p>Book a consultation</p>
              <p>to discuss your project</p>
            </div>
          </div>
          <!--Single Contact Info End -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <!--Single Contact Info Start -->
          <div class="single-contact-info text-center">
            <div class="info-icon">
              <img src="/assets/images/info-2.png" alt="">
            </div>
            <div class="info-content">
              <h5 class="title">Email Us</h5>
              <p>contact@devsdoc.com</p>
            </div>
          </div>
          <!--Single Contact Info End -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <!--Single Contact Info Start -->
          <div class="single-contact-info text-center">
            <div class="info-icon">
              <img src="/assets/images/info-3.png" alt="">
            </div>
            <div class="info-content">
              <h5 class="title">Our Services</h5>
              <p>Web, Mobile, AI & Cloud Solutions</p>
            </div>
          </div>
          <!--Single Contact Info End -->
        </div>
      </div>
    </div>
    <!-- Contact Info Wrap End -->
  </div>
</div>
<!-- Contact Info End -->
