---
---

<!-- Counter Start -->
<section class="section techwix-counter-section-02" aria-label="Our Statistics">
  <div class="container">
    <div class="counter-wrap">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <!-- Single Counter Start -->
          <article class="single-counter">
            <div class="counter-img">
              <img src="/assets/images/counter-1.png" alt="Years of Experience Icon">
            </div>
            <div class="counter-content">
              <span class="counter" aria-label="8 years">08</span>
              <p>Years of experience</p>
            </div>
          </article>
          <!-- Single Counter End -->
        </div>
        <div class="col-xl-3 col-md-6">
          <!-- Single Counter Start -->
          <article class="single-counter">
            <div class="counter-img">
              <img src="/assets/images/counter-2.png" alt="Happy Clients Icon">
            </div>
            <div class="counter-content">
              <span class="counter" aria-label="40 clients">40</span>
              <p>Happy clients</p>
            </div>
          </article>
          <!-- Single Counter End -->
        </div>
        <div class="col-xl-3 col-md-6">
          <!-- Single Counter Start -->
          <article class="single-counter">
            <div class="counter-img">
              <img src="/assets/images/counter-3.png" alt="Finished Projects Icon">
            </div>
            <div class="counter-content">
              <span class="counter" aria-label="150 projects">150</span>
              <p>Finished projects</p>
            </div>
          </article>
          <!-- Single Counter End -->
        </div>
        <div class="col-xl-3 col-md-6">
          <!-- Single Counter Start -->
          <article class="single-counter single-counter-4">
            <div class="counter-img">
              <img src="/assets/images/counter-1.png" alt="Media Posts Icon">
            </div>
            <div class="counter-content">
              <span class="counter" aria-label="1090 posts">1090</span>
              <p>Media Posts</p>
            </div>
          </article>
          <!-- Single Counter End -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Counter End -->
