---
---

<!-- Hero Start -->
<div class="section techwix-hero-section-05">
  <div class="techwix-hero-wrap" style="background-image: url(/assets/images/bg/hero-bg5.jpg);">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <!-- Hero Content Start -->
          <div class="hero-content">
            <p class="sub-title" data-aos-delay="600" data-aos="fade-up" style="font-size: 18px; font-weight: 500; color: #666; margin-bottom: 15px;">Your network becomes easier to operate by AI</p>
            <h1 class="title" data-aos="fade-up" data-aos-delay="800">Take the next steps for an <span>AI-driven</span> enterprise.</h1>
            <p data-aos="fade-up" data-aos-delay="900">We provide the most responsive and functional IT solutions for data engineering and AI strategy.</p>
            <div class="hero-btn" data-aos="fade-up" data-aos-delay="1000">
              <a class="btn" href="/about">Read More</a>
            </div>
          </div>
          <!-- Hero Content End -->
        </div>
        <div class="col-lg-6">
          <!-- Hero Image Start -->
          <div class="hero-images">
            <div class="images">
              <img src="/assets/images/hero-img.png" alt="">
            </div>
          </div>
          <!-- Hero Image End -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero End -->
